<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>description</key>
	<string>📋🗣 Read the contents of the clipboard.</string>
	<key>hueTint</key>
	<real>0.51071428571428568</real>
	<key>name</key>
	<string>read_clipboard</string>
</dict>
</plist>
