<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Project</key>
	<string>libarchive</string>
	<key>Tests</key>
	<array>
		<dict>
			<key>Command</key>
			<array>
				<string>/bin/sh</string>
				<string>test_tar.sh</string>
			</array>
			<key>TestName</key>
			<string>tar</string>
			<key>WhenToRun</key>
			<array>
				<string>PRESUBMISSION</string>
				<string>NIGHTLY</string>
			</array>
			<key>WorkingDirectory</key>
			<string>/AppleInternal/Tests/libarchive</string>
		</dict>
	</array>
	<key>Timeout</key>
	<integer>30</integer>
</dict>
</plist>
