#include "base.xcconfig"

// Packaging
PRODUCT_NAME = sort

// Preprocessing
GCC_PREPROCESSOR_DEFINITIONS = SORT_VERSION=\"$(RC_ProjectSourceVersion)\" WITHOUT_NLS

// Warnings - All languages
CLANG_WARN_IMPLICIT_SIGN_CONVERSION = NO
CLANG_WARN_SUSPICIOUS_IMPLICIT_CONVERSION = NO
GCC_WARN_64_TO_32_BIT_CONVERSION = NO
GCC_WARN_ABOUT_DEPRECATED_FUNCTIONS = NO
GCC_WARN_ABOUT_POINTER_SIGNEDNESS = NO
GCC_WARN_UNINITIALIZED_AUTOS = YES
