<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OpenSourceProject</key>
	<string>curl</string>
	<key>OpenSourceVersion</key>
	<string>7.54.0</string>
	<key>OpenSourceWebsiteURL</key>
	<string>http://curl.haxx.se/</string>
	<key>OpenSourceURL</key>
	<string>http://curl.haxx.se/download/curl-7.54.0.tar.gz</string>
	<key>OpenSourceSHA1</key>
	<string>be5b7f10fc34722e324e8c552fcdfe120e164836</string>
	<key>OpenSourceImportDate</key>
	<string>2017-05-15</string>
	<key>OpenSourceModifications</key>
	<array>
		<string>curl-config.in: remove -I, -L, and static library info</string>
		<string>docs/curl.1: remove references to netrc(4) and wget(1)</string>
		<string>include/curl/multi.h: Add availability to curl_multi_wait (13158909)</string>
		<string>lib/curl_gssapi.c: revert upstream 3b4ee0d to work around alignment problems (27287483)</string>
		<string>lib/ldap.c: 5648196</string>
		<string>lib/vtls/openssl.c: Add checks to handle weak-linking LibreSSL/OpenSSL (24620014)</string>
		<string>lib/vtls/openssl.c: Convert checksum functions to use CommonCrypto (24620014)</string>
		<string>lib/vtls/darwinssl.c: 32267048</string>
	</array>
	<key>OpenSourceLicense</key>
	<string>MIT</string>
	<key>OpenSourceLicenseFile</key>
	<string>curl.txt</string>
</dict>
</plist>
