#include "base.xcconfig"

INSTALL_PATH = /usr/lib
STRIP_STYLE = non-global
DYLIB_COMPATIBILITY_VERSION = 9
DYLIB_CURRENT_VERSION = 9.2
EXECUTABLE_PREFIX = lib
PUBLIC_HEADERS_FOLDER_PATH = /usr/local/include
ALWAYS_SEARCH_USER_PATHS = NO
HEADER_SEARCH_PATHS = /usr/include/libxml2
GCC_ENABLE_FIX_AND_CONTINUE = NO
