#include "common.xcconfig"

// Code Signing
CODE_SIGN_ENTITLEMENTS[sdk=iphoneos*] = $(SRCROOT)/entitlements.ios.plist
CODE_SIGN_ENTITLEMENTS[sdk=iphonesimulator*] = $(SRCROOT)/entitlements.ios.plist

USER_HEADER_SEARCH_PATHS = $(PROJECT_DIR)/curl/lib
USER_HEADER_SEARCH_PATHS[sdk=iphone*] = $(inherited) $(PROJECT_DIR)/config_iphone
USER_HEADER_SEARCH_PATHS[sdk=macosx*] = $(inherited) $(PROJECT_DIR)/config_mac
