<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>description</key>
	<string>📂 Move the contents of the current directory to a new folder.</string>
	<key>hueTint</key>
	<real>0.74196428571428574</real>
	<key>name</key>
	<string>cleanup_files</string>
</dict>
</plist>
