<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>description</key>
	<string>🎲 Get a random number between 1 and 6.</string>
	<key>hueTint</key>
	<real>0.81428571428571428</real>
	<key>name</key>
	<string>dice</string>
</dict>
</plist>
